:root {
  --main-color: #D5B8B8;
  --second-color: #FFFFFF;
  --third-color: #976E72;
  --footer-color: #D9D9D9;
}
* {
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
}
body {
  background-color: var(--second-color) !important;
}
/* start nav */
.se1 {
  align-items: center;
}
.log {
  height: 40px;
}
.btn {
  color:  white;
  border-color: var(--main-color);
  outline: none;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}
.btt {
  color: var(--third-color);
}
.btn:hover {
  color:  var(--second-color);
  background-color:  var(--main-color);
  border-color: var(--main-color);
}
.navbar-nav .nav-link.active {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}
.navbar-nav .nav-link:hover {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}
.cart {
  width: 25px;
  height: 25px;
  margin: 20px;
  cursor: pointer;
}
/* end nav */
/* start landing */
.Roboto1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.para2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 50px;
}
.para3 {
  font-size: 13px;
}
.btn2 {
  background-color:  var(--main-color);
  color: var(--second-color);
  padding: 10px;
  width: 140px;
  height: 50px;
  font-size: 21px;
}
.row {
  align-items: center;
}
.image{
  margin-right: -110px;
}
@media (max-width : 992px) {
  .image img {
    display: block;
  }
  .image{
    margin-right: 0;
    overflow-x: hidden;
  }
}
.se2{
  box-shadow: 0px 0px 25px 0px #00000033 inset;
  border-radius: 77px;
  -webkit-border-radius: 77px;
  -moz-border-radius: 77px;
  -ms-border-radius: 77px;
  -o-border-radius: 77px;
  gap: 10px;
}
@media (max-width : 992px) {
  .se2 div {
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
  }
  .se1 {
    margin-bottom: 30px;
  }
}
@media (min-width : 992px) {
  .item1 {
    margin-left: 50px;
  }
}
.se2 select {
  padding: 7px;
  border: none;
  font-size: 18px;
}
.item2 {
  padding: 12px;
  text-align: center;
}
.item2 div {
  text-align: center;
}
/* end landing */

/* start section find by car */
.paragraph {
  font-size: 65px;
  margin-top: 50px;
}
@media (min-width: 1100px) {
.bot{
  top: 226px;
  width: 100%;
  height: 150px;
  background-color: #DFDEDE;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  position: absolute;
}
.CarOne img {
  position: absolute;
  top: 100px;
  width: 300px;
  height: 230px;
}
.car1 img {
left: 40px;
}
.car2 img {
  left: 355px;
}
.car3 img {
  left: 670px;
}
.car4 img {
left: 980px;
}  
.sec-car::before{
  content: url('/img/Frame\ 69.png');
  position: absolute;
  bottom: -262px;
  left: 13px;
  z-index: 100;
}
.sec-car::after{
  content: url('/img/Frame\ 96.png');
  position: absolute;
  bottom: -262px;
  right: 13px;
  z-index: 100;
}
}
@media (max-width: 1100px) {
  .sec-car {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .CarOne {
    text-align: center;
    position:static;
    width: 100;
  }

  .CarOne img {
    width: 100%;
    height: auto;
  }

  .bot {
    display: none;
  }
}

/* end section find by car */
/* start Top Categories */
@media (min-width: 992px) {
.se4 {
  margin-top: 370px;
}
}
.se4 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.sec4-car {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.para22 {
margin-bottom: 70px;
}
.para23 {
  font-size: 50px;
}
.para24 {
  font-size: 30px;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2;}
.tool {
  width: 30%;
}

.btn3 {
    padding: 15px;
    width: 180px;
    border-radius: 33px;
    border: none;
    outline: none;
    background-color: var(--third-color);
    font-size: 20px;
    -webkit-border-radius: 33px;
    -moz-border-radius: 33px;
    -ms-border-radius: 33px;
    -o-border-radius: 33px;
}
.btn4 {
  background-color: white;
  color: black;
  border: 1px solid black;
}
.actio {
  display: flex;
  justify-content: space-around;
}
.space-arround{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.box1 {
  margin-bottom: 20px;
}
/* end Top Categories */

/* start footer */
.footer{
  background-color: var(--footer-color);
}
.para25 {
  font-size: 25px;
  margin-top: 30px;
}
.para26 {
  font-size: 20px;
  padding: 3px;
}
.info {
  display: flex;
}
.para27 {
  font-size: 18px;
}
.soc {
  display: flex;
}
@media (max-width : 992px)  {
  .soc{
    display: flex;
    justify-content: center;
  }
}
.soc i {
font-size: 30px;
}
/* end footer */
/*  start my cart */
@media (min-width : 992px) {
  .mom {
    display: flex;
  }
}
/* @media (max-width : 767px) {
  .pic {
    display: none;
  }
} */
.mom{
  gap: 20px;
}
table {
  margin-top: 50px;
  
}
table tr td {
  padding: 40px;
}
.title {
  font-size: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: 5px solid;
  width: 250px;
  padding: 10px;
}
/*  end my cart */
/* start details */

@media (min-width: 992px)  {
  .details {
    background-image: url('/img/Vector-details.png'); 
    background-size: 800px 870px; 
    background-position: right; 
    background-repeat: no-repeat; 
    display: flex;
    justify-content: center; 
    align-items: center;
    position: relative;
    overflow: hidden;
  }
  .sec-right {
    position: absolute;
    flex-wrap: wrap;
  }
}
.path {
  padding-top: 50px;
}
.path span {
  padding: 4px;
}
.nameCar p {
  font-size: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px 0;
}
.strong {
  font-size: 30px;
  color: var(--third-color);
  margin-bottom: 30px;
}
.car-def {
  padding-left: 50px;
  margin-bottom: 30px;
}
.img-details {
  display: flex;
  gap: 20px;
align-items: center;
}
.img-details img {
  width: 101px;
  height: 97;
}
@media (max-width : 992px) {
  .img-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .car-def {
    padding-left: 0;
    margin-bottom: 0;
  }
  .img-details i {
    display: none;
  }
}
.img-details i {
  padding: 5px;
  color: var(--third-color);
  font-size: 28px;
}
.sec-right {
  top: 150px;
  left: 900px;
}
.namePage  {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px 0;
}
.sec-star p {
  font-size: 25px;
}
.sec-star i {
  font-size: 20px;
  color: var(--third-color);
}
.sec-star span {
  padding: 10px;
}
.Description {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 390px;
}
.sec-color {
  margin-top: 30px;
  margin-bottom: 30px;
}
.cicle div {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding: 10px;
}
.cicle {
  display: flex;
  align-items: center;
  gap: 40px;
}
.white {
  border: 3px solid var(--third-color);
  background-color: white;
}
.black {
  background-color: black;
}
.blue {
  background-color:  #6799D5;
  ;
}
.sec-num {
  display: flex;
  gap: 90px;
}
.num{
  display: flex;
  align-items: center;
  gap: 20px;
}
.num div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  font-size: 18px;
}
.min {
  color: var(--third-color);
  background-color: white;
}
.plus {
  background-color: var(--third-color);
  color: white;
}
.price {
  font-size: 24px
}
.price span {
  color: var(--third-color);
}
.bott {
  margin-top: 50px;
  margin-bottom: 30px;
  display: flex;
  gap: 50px;
}
.bott .add {
  border: none;
  padding: 17px;
  font-size: 20px;
  border-radius: 40px;
  color: var(--third-color);
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  width: 170px;
}
.bott .add:hover {
  background-color: var(--main-color);
  color: white;
}
/* end  details */
